---
title: Contributeurs
layout: default
permalink: /contributors.html
---

{% include header.html %}

<div class="g-banner pages-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
  data-theme="{{ site.theme-color }}">
  <h2>Contributeurs</h2>
</div>

<main class="pages-content">
  <ul class="pages-list">
    {% for contributor in site.data.contributors %}
    <li id="{{ contributor.name | replace: ' ', '-' | downcase }}">
      <section class="author-card">
        <div class="avatar-medium">
          <img src="{{ contributor.avatar }}" alt="{{ contributor.name }}">
        </div>
        <p style="text-align:center;font-size:30px;font-family: 'SourceSansPro';font-weight: lighter;" class="author-name">
          {{ contributor.name }}
        </p>
        {% if contributor.description %}
        <div class="bio">
          <p style="text-align:center;font-size:15px;font-family: 'SourceSansPro','SourceHanSans';">
            {{ contributor.description }}
          </p>
        </div>
        {% endif %}

        {% if contributor.social.size > 0 %}
        <p style="text-align:center;font-family: 'SourceSansPro';font-size:18px;">
            {% for social in contributor.social %}
                <a href="{{ social[1] }}" target="_blank">
                    <i class="fab fa-{{ social[0] }}"></i>
                </a>
            {% endfor %}
        </p>
        {% endif %}



      </section>
    </li>
    {% endfor %}
  </ul>

</main>

{% include footer.html %}
